.single_budget {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  margin: 0.5rem auto;
}

.single_budget p {
  text-align: center;
}

.single_budget p span {
  color: #000;
  font-weight: bold;
}
